@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('../desafio10/fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bebas';
    src: url('../desafio10/fontes/BebasNeue-Regular.ttf') format('truetype');
}


/*  
    PALHETA DE CORES PARA O SITE

    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e

*/

/* Variavel em CSS3 */


    :root {

        /* PALHETA DE CORES */
        --cor00: #c5ebd6;
        --cor01: #83e1ad;
        --cor02: #3ddc84;
        --cor03: #2fa866;
        --cor04: #1a5c37;
        --cor05: #063d1e;

        /* FONTES */

        --fonte-google: 'android';
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque: 'bebas'
        
    }



/* RESET GLOBAL */
* {

    margin: 0;
    padding: 0;
}



@media screen and (max-width: 550px) and (orientation: portrait){

    .h2-principal {

        font-size: 1.4em;
       
    }

    header > nav > ul {

        margin-left: 45px;
    }

}



/* INICIO CONF SITE */

body {

    background-color: var(--cor00);
    font-family: var(--fonte-padrao);
}


main {

    margin: auto;
    background-color: white;
    max-width: 800px;
    border-radius: 0 0 10px 10px;
}


header {

    background-image: linear-gradient( rgb(98, 236, 98), rgba(13, 75, 13, 0.74));
    padding: 11px;
    margin: auto;
     height: auto;
}


header > h1 {

    color: white;
    font-family: var(--fonte-destaque);
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}


header > p {

    text-align: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    
}


header >nav > ul > li {

    display: inline;
    list-style: none;
    padding: 0 5px 0 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

header > nav > ul {

    margin-top: 20px;
    
}

.menu {

    background-color: rgb(238, 240, 146);
    padding: 5px;
    margin-right: 7px;
}

.menu1 {

    background-color: rgb(238, 240, 146);
    padding: 5px 5px 5px 9px;
    margin-right: 7px;

}

.sub-li:hover {

    
}

.sub-menu {

    display: none;
}

.sub-li {

    list-style: none;
}

a {

    text-decoration: none;
    text-align: center;
}

.sessao1, .sessao2, .sessao3 {

    padding: 10px;
}

h2 {
    font-size: 1.45em;
    font-family: var(--fonte-google);
    margin-bottom: 10px;
    color: rgb(17, 99, 17);
}

.h2-principal {

    margin-top: 10px;
}


.sessao2 > article > h2 {

    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.534), white);
}

.sessao3 > article > h2 {

    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.534), white);
    padding-left: 10px;
}


.sessao1, .sessao2, .sessao3 > p, .paragrafo {

    text-align: justify;
    text-indent: 10px;
    padding: 10px;
}

.irina, iframe, .dan-droid {

    display: block;
    margin: auto;
    width: 100%;
}
.bugdroid {

    display: block;
    margin: auto;
}

.video-youtube {
    background-color: rgba(6, 105, 14, 0.678);
    padding: 30px;
}

iframe {

     box-shadow: 8px 5px 15px 0px rgba(0, 0, 0, 0.416);
     border-radius: 10px;
     
}

aside {

    background-color: rgba(146, 241, 146, 0.644);
    margin: 20px auto;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    padding: 20px;
}

.sessao4 > h3 {

    background-color: rgba(0, 128, 0, 0.829);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.menu-lateral > ul {
    padding-left: 20px;
    margin: auto;
    columns: 2;
}

aside > section > p {

    padding: 10px;
    text-align: justify;
    text-indent: 10px;
}

.aside-paragrafo {

    padding: 0 20px 20px 20px;
    text-indent: 10px;
    text-align: justify;
}

footer {

    text-align: center;
    background-color: var(--cor05);
    margin-top: 15px;
    color: white;
    text-transform: lowercase;
    padding: 5px;
}