@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('../desafio10/fontes/idroid.otf') format('opentype');
}

* {

    margin: 0;
    padding: 0;
}


body {

    background-color: rgba(38, 248, 38, 0.514);
}


main {

    margin: auto;
    background-color: white;
    max-width: 850px;
    border-radius: 0 0 10px 10px;
}


header {

    background-image: linear-gradient( rgb(98, 236, 98), rgba(13, 75, 13, 0.74));
    padding: 20px;
    margin: auto;
}


header > h1 {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}


header > p {

    text-align: center;
    margin-top: 25px;
    margin-bottom: 39px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    
}

header >nav > ul > li {

    display: inline;
    list-style: none;
    padding: 0 5px 0 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header > nav > ul {

    margin-top: 20px;
}

.sessao1, .sessao2, .sessao3 {

    padding: 10px;
}

h2 {
    font-size: 1.45em;
    font-family: 'android';
    margin-bottom: 10px;
    color: rgb(17, 99, 17);
}


.sessao2 > article > h2 {

    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.534), white);
}

.sessao3 > article > h2 {

    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.534), white);
    padding-left: 10px;
}


.sessao1, .sessao2, .sessao3 > p, .paragrafo {

    text-align: justify;
    text-indent: 10px;
    padding: 10px;
}

.bugdroid, .irina, iframe, .dan-droid {

    display: block;
    margin: auto;
    
}

.video-youtube {
    background-color: rgba(6, 105, 14, 0.678);
    padding: 30px;
}

iframe {

     box-shadow: 8px 5px 15px 0px rgba(0, 0, 0, 0.416);
     border-radius: 10px;
     
}

aside {

    background-color: rgba(146, 241, 146, 0.644);
    margin: 20px auto;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    padding: 20px;
}

.sessao4 > h3 {

    background-color: rgba(0, 128, 0, 0.829);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.menu-lateral > ul {
    padding-left: 20px;
    margin: auto;
    columns: 2;
}

aside > section > p {

    padding: 10px;
    text-align: justify;
    text-indent: 10px;
}

.aside-paragrafo {

    padding: 0 20px 20px 20px;
    text-indent: 10px;
    text-align: justify;
}

footer {

    text-align: center;
    background-color: green;
    margin-top: 15px;
    color: white;
    text-transform: lowercase;
    padding: 5px;
}