@charset "UTF-8";

@font-face {
    
    font-family: 'android';
    src: url('../desafio\ 10/');

}
* {

    margin: 0;
    padding: 0;
}


body {

    background-color: rgba(38, 248, 38, 0.514);
}

header {

    background-image: linear-gradient( rgb(98, 236, 98), rgba(13, 75, 13, 0.74));
}

header > h1 {

    color: white;
}

main {

    margin: auto;
    background-color: white;
    max-width: 950px;

}