@charset "UTF-8";


* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: url(../abstract-background-6m6cjbifu3zpfv84.jpg);
}

main {

    border: 1px solid black;
    width: 800px;
    margin: auto;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {

    text-align: center;
    margin: 30px 0px 30px 0px;
    text-shadow: 1px 1px 2px white;
}

div {

    background-color: rgba(211, 211, 211, 0.26);
    width: 650px;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
}

div:hover {

    background-color: lightsteelblue;
    transition: 2s;
}

fieldset {

    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.527);
    margin: auto;
    border: 0px;
}

fieldset:hover {

    background-color: white;
    transition: 2s;
}

legend {

    background-color: rgb(59, 59, 231);
    width: 100%;
    padding: 5px 5px 5px 15px;
    color: white;
    border-radius: 5px;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px black;
    font-weight: bolder;
}


label {

    width: 170px;
    display: inline-block;
    text-align: right;
    padding: 3px 6px;
    vertical-align: top;
}

input:hover {

    border-radius: 4px;
}

input {
    padding-left: 2px;
}

.input-size {

    width: 250px;
    height: 25px;
    margin-bottom: 5px;
}

.size {

    width: 100px;
}

.input-pass {

    height: 25px; 
    margin-bottom: 5px;   
}

select {

    height: 25px; 
    margin-bottom: 5px; 

}

.label-radio {

    text-align: left;
    width: 90px;
}

.check-box {

    width: 560px;
    margin-bottom: 5px;
    text-align: left;
}

.botoes {

    width: 140px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(255, 160, 122, 0.562);
    font-weight: bold;
}

