@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {

    --fontegoogle: 'Passion One';
    --fontgoogle2: 'Sriracha';
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}



* {

    margin: 0px;
    padding: 0px;
}


html, body {

    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}


header {

    background-color: black;
   
}

h1 {

    color: white;
    text-align: center;
    font-size: 10vw;
    padding-top: 50PX;
    font-weight: bold;
    font-variant: small-caps;
    font-family: var(--fontegoogle);
}

header >p {

    text-transform: lowercase;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}


a {
    color: white;
    text-decoration: none;
}



/* ==================== */

   .normal {

    background-color: white;
    color: black;
   }

   .imagem {

   background-color: rgba(0, 0, 0, 0.514);
   color: white;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
   background-attachment: fixed;

   }

   .imagem > p {

    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
   }

   section {

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fontgoogle2);
    font-size: 3.5vw;

  }

  .sessao2 {

    background-image: url(../desafio012/imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
  }

  .sessao4 {

    background-image: url(../desafio012/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
  }


.paragrafo3, .paragrafo4 {

    padding-bottom: 30px;
}
   


   footer {

    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100vw;
    font-size: 1em;
   }