@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: linear-gradient(to left, #DDF8E8,#946E83 );
}

p {
    text-align: justify;
}

h1 {

    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: #615055;
}

main {

    margin: auto;
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #615055;
}